<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/StyleSheetNavBar.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/Users/Cortana/Documents/website/controllers/navBar.js"></script>
    <script src="/navBar.js"></script>
  </head>

  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation">
          <ul id="myTopnav" class="nav navbar-nav topnav">
            <li class="ewcLogo">website name</li>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
            <li><a href="/contact">Contact us</a></li>
            <li class="icon">
              <div class="container" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <br/>

      <div class="jumbotron test">
        <p>
          Put detail description about you and your website.
        </p>
      </div>
    </div>
  </body>
</html>
